.container {
  display: flex;
}

.container > form {
  width: 50%;
}

.container > form ~ form {
  margin-left: 20px;
}

.video-container {
  width: 100%;
  height: 400px;
}

#video {
  width: 100%;
  height: 100%;
}